<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772501374258-5qfspjfrcl851j91d8aom7o5l0ki2k97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772501374258-5qfspjfrcl851j91d8aom7o5l0ki2k97</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>772501374258-r96884lra380ldnou89ot0t30o5593uh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBX-_qIiToBcjvQxNURyyCbq-5dZSnCYZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>772501374258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payback</string>
	<key>PROJECT_ID</key>
	<string>payback-cd6da</string>
	<key>STORAGE_BUCKET</key>
	<string>payback-cd6da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772501374258:ios:f7cabf47868c7a4116032b</string>
</dict>
</plist>